.proContainer{
    display:flex;
    flex-direction:row;
    margin:4vw;
    margin-top:1rem;
    max-width:100%; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.proContainer  img {
    border-radius:2rem;
    box-shadow:  7px 7px 14px #9a8f8e,
             -7px -7px 14px #ffffff;
    max-height:17rem;
}
.card{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:2vw;
}
.cardButton button{
    border:0;
    padding:10px;
    background:#A9A9A9;
    border-radius:18px;
    font-family:"Reem Kufi";
    font-size:1rem;
}
.cardOverlay{
    position:absolute;  
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.1);
    color: #000;
    border-radius:2rem;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
    opacity:0;
    transition:ease-in 0.3s;
}
.cardOverlay:hover{
    opacity:1;
}

.cardOverlay:hover *{
    animation: popup 0.4s;  
}

@keyframes popup {
  0%{
    transform: translate(0,25px);
  }
  20%{
    transform: translate(0,20px);
  }
  40%{
    transform: translate(0,15px);
  }
  60%{
    transform: translate(0,10px);
  }
  80%{
    transform: translate(0,5px);
  }
  100%{
    transform: translate(0,0px);
  }
}

.cardOverlay div{
    margin:5px ;
    margin-left:20px ;
}
.cardButton{
    margin-top:auto !important;
    margin-bottom:20px !important ;
}
.cardName{
    margin-top:20px !important;
}

@media only screen and (max-width: 976px){
    .proContainer img{
        max-height:35vw;
    }
    .card{
        position: static;
    }
    .cardOverlay{   
        max-width:40vw;
        flex-direction:row;
        flex-wrap: wrap;
        position:static;
        opacity:1;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0);
    }
    .cardOverlay *{
        margin:5px !important;
    }
    .cardButton{
        padding:0px;
        margin-left:0 !important;

    }
    .cardButton button{
        margin:0 !important;
    }
    .cardOverlay:hover *{
        animation: none;  
    }
}
@media only screen and (max-width:420px){
.card *{
    font-size:0.8rem;
}
.card button{
    font-size:0.8rem;
}
}
