<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Reem Kufi' rel='stylesheet'>
    <link rel="stylesheet" href="/forms.css" />
    <title>Document</title>
</head>
<body>
    <section class="logo">
        <div class="logo"><a href="index.html"><img src="/logo1.png" alt="logo"></a></div>
    </section>
    <form class="formLayout" action ="/auth/signIn" method="POST">
        <div class="formSelection" id="selectionLeft"><div class="formTopOption">sign in</div></div>
        <div class="formSelection" id="selectionRight"><div class="formTopOption"><a href="/userSignup">sign up</a></div></div>
        <div id="mainForm">
            <div class="formInput"><input type="email" placeholder="email" name = "email"/></div>
            <div class="formInput"><input type="password" placeholder="password" name ="password"/></div>
            <div class="formButton"><button id="signInButton">sign in</button></div>
        </div>
    </form>
</body>
</html>