.proContainer{
    display:flex;
    flex-direction:row;
    padding:3vw;
    padding-top:1rem;
    max-width:100%; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.proContainer  img {
    border-radius:2rem;
    box-shadow:4 4 4 rgba(0,0,0,0.25);
    padding:1vw;
    max-height:17rem;
}
@media only screen and (max-width: 976px){
    .proContainer img{
        max-height:30vw;
    }

}