.proContainer{
    display:flex;
    flex-direction:row;
    padding:4vw;
    padding-top:1rem;
    max-width:100%; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.proContainer  img {
    border-radius:2rem;
    box-shadow:  7px 7px 14px #9a8f8e,
             -7px -7px 14px #ffffff;
    max-height:17rem;
}
.card{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:2vw;
}
@media only screen and (max-width: 976px){
    .proContainer img{
        max-height:40vw;
    }

}