
p{
    margin:0px;
}
.footer{
    margin-top:100px;
    color:seashell;    
    width: 100%;
    background-color:#363636;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content:space-between;
    border-radius: 30px 30px 0 0;
    flex-wrap: wrap;
}
.footer img{
    vertical-align: middle;
    max-height: 50px;
}
.footerright,.footerleft{
    justify-content:flex-start;
    padding:2vw;
    max-width:50vw;
    color:seashell;
    display:flex;
    flex-direction: column;
}
.footerright a,.footerleft a{
    color:seashell;
}
.footerleft{
    align-items: left;
}
.footerright{
    align-items: right;
}
@media only screen and (max-width:420px){
    .footer img{
        max-height:30px;
    }
    .footer,.footer a{
        font-size:0.8rem;
    }
}